export(getURL, postForm, getForm)
export(curlGlobalInit,curlVersion)
export(curlOptions)
export(getCurlInfoConstants, getCurlOptionsConstants)
export(curlSetOpt, curlPerform, getCurlInfo)
export(getCurlHandle, dupCurlHandle)
export(CurlFeatureBits, CurlGlobalBits, CurlNetrc)
export(curlOptions)
export(basicTextGatherer, debugGatherer)
export(curlEscape, curlUnescape)
export(getBitIndicators, setBitIndicators)

S3method("[<-",  CURLOptions)
S3method("[[<-",  CURLOptions)


useDynLib(RCurl)

